.bienvenida-section {
    text-align: center;
    padding: 170px 20px;
    background-image: url(https://image.slidesdocs.com/responsive-images/background/season-advertising-peach-books-children-simple-ink-powerpoint-background_c436e52d01__960_540.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  
  .bienvenida-section .boton-explorar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .bienvenida-section .boton-explorar:hover {
    background-color: #0056b3;
  }
  
  .intro-categorias {
    text-align: center;
    padding: 140px 20px;
    background-image: url(https://img-bsy.txrpic.com/preview/element/00/01/26/58/E-1265808-DA7B70BF.jpg?imageMogr2/quality/90/thumbnail/!800x%3E);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  
  .intro-categorias .contenedor-categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .intro-categorias .categoria {
    margin: 10px;
    text-align: center;
  }
  
  .intro-categorias .categoria h3 {
    margin-top: 10px;
  }
  
  .intro-categorias .categoria .boton-categoria {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .intro-categorias .categoria .boton-categoria:hover {
    background-color: #218838;
  }
  